body {
    margin: 0;
    font-family: sans-serif;
    color: aliceblue
}

#img-header {
    display: flex;
    justify-content: center;
    background: midnightblue;
}

#img-header img {
    height: 500px;
    width: 1000px;
}

#text-header {
    display: flex;
    justify-content: center;
    background: midnightblue;
}

.form-container {
    background: midnightblue;
    height: 300px;
}

.results-container {
    background: midnightblue;
}

.card {
    color: aliceblue;
    text-align: left;
    border:grey solid 1px;
    padding: 1rem;
    width: 300px;
    height: 600px;
    display: inline-grid;
    margin: 1rem 2rem;
    
}

h4 {
    margin: 25px 0px;
    margin-top: 0px; 
}