body {
    margin: 0;
    font-family: sans-serif;
    color: aliceblue
}

#img-header {
    display: flex;
    justify-content: center;
    background: midnightblue;
}

#img-header img {
    height: 500px;
    width: 1000px;
}

#text-header {
    display: flex;
    justify-content: center;
    background: midnightblue;
}

.form-container {
    background: midnightblue;
    height: 360px;
}

.results-container {
    background: midnightblue;
}

.card {
    color: aliceblue;
    text-align: left;
    border:grey solid 1px;
    padding: 1rem;
    width: 300px;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px rgb(152, 226, 40)
    
}

.char-img {
    margin-bottom: 15px;
}

p {
    margin:8px
}

button {
    color: #35C9DD;
    background-color: rgb(80, 80, 80)
}

button:hover {
    background-color: rgb(100, 100, 100);
}

.submit {
    color: #35C9DD;
    background-color: rgb(80, 80, 80)
}

.submit:hover {
    background-color: rgb(100, 100, 100);
}

h1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

h2 { 
    margin: 20px 0px;
    margin-top: 0px;
}

h4 {
    margin: 15px 0px;
    margin-top: 0px; 
}

form {
    margin-left: 20px;
}